<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1"/>
        <link rel="stylesheet" href="CSS_file.css">
        <title>Sudokusolver</title> 
    </head>
    <body>
        <h1>Sudokusolver</h1>
            <p>This website lets you solve a sudoku puzzle automatically.<br></p>

            <p>To use the solver, go to this website: <a href="https://qqwing.com/generate.html">https://qqwing.com/generate.html</a>,</p>
            <p>and put the output format as "one line".
                <br>Then, copy the whole line and paste it into the box below.
            </p>


            <p><br> using this web application, you can represent it visually,
                and solve it automatically if you wish to do so. <br></p>
            <p> empty spaces in the board will be represented as dots.</p>

        <form action="/see-board">
            <label for="sudoku">put your sudoku string here:</label>
            <input type="text" id="sudoku" name="sudoku"><br><br>
            <input type="submit" value="Submit">
        </form><br>
    </body>
</html>

