<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1"/>
        <link rel="stylesheet" href="CSS_file.css">
        <title>Sudokusolver</title> 
    </head>
    <body>
        <h1>Sudokusolver</h1>
            <p>This website lets you solve a sudoku puzzle automatically.<br></p>

            <p>The puzzle will generate automatically. Just press the button below and you will see it.
            </p>
            <p>You can solve it automatically if you wish to do so. <br></p>
            <p> Empty spaces in the board will be represented as dots.</p>

        <form action="/see-board">
            <input type="submit" value="See board">
        </form><br>
    </body>
</html>

